- var baseURL = `http://localhost:8000`
- var baseAssets = `${baseURL}/assets`


doctype html
html
    head
        meta( charset="UTF-8" )
        meta( name="viewport" content="width=device-width,initial-scale=1.0" )
        title WaiRent | #{title}
        link(rel="stylesheet", href=`${baseAssets}/css/auth-style/login.css`)
        script( src="https://kit.fontawesome.com/f40c32a411.js" crossorigin="anonymous" )
    body   
        section#content
            div.block-wrapper.block-wrapper-left
                div.block.block-1
                div.block.block-2
                div.block.block-3
            form( action="" id="form-login" method="")
                h3.title-form Welcome
                .input-group
                    .input-field-wrapper
                        input( type="text" name="email" id="email"   autocomplete="off" required)
                        i.fas.fa-at.icon-input
                        label Email
                    .error-wrapper#error-email
                .input-group
                    .input-field-wrapper
                        input( type="password" name="password" id="password"  autocomplete="off" required)
                        i.fas.fa-lock.icon-input
                        i#password-icon.fas.fa-eye.icon-show 
                        label Password
                    .error-wrapper#error-password
                div.error-wrapper#error-login
                .help-link
                    a(href=`${baseURL}/auth/forgot-password`).forgot-password forgot password ?
                    a(href=`${baseURL}/auth/sign-up`).dont-have-account don't have an account?
                button( role="submit").btn-submit Login
            div.block-wrapper.block-wrapper-right
                div.block.block-1
                div.block.block-2
                div.block.block-3
    script(src = `${baseAssets}/js/showPassword.js`)
    script(src = `${baseAssets}/js/authFormHandler.js`)    