extends layout/body.pug
  
block append styles
    link(rel="stylesheet", href=`${baseAssets}/css/style.css`)


block content
    section#jumbotron  
        div.caption
            | <h1 class="translate-x" data-speed = "-0.6"><strong class="brand-title" >Wairent </strong> Get your in wairent </h1>     
            | <h3 class="translate-x" data-speed = "-0.45"> Lets rent your waifu or top waifu in <strong class="brand-title" >Wairent,</strong> </h3>          
            //- h3.translate-x(data-speed = "-0.45") Lets rent your waifu or top waifu in WaiRent
            p.translate-x(data-speed = "-0.3" ) WaiRent is a web for renting waifu this web was created inspired by Kanojo Okarishimasu
            button.translate-y(data-speed = "0.4") Let's Rent
        div.img
            img(src = "../assets/img/Char.png" class="translate-y" data-speed="0.2" alt="" )
            div.bottom-oval
    section#waifu  
        h1.title Top Waifus
        if !topWaifu
            div.alert-wrapper
                h3.alert-danger No data avaible
        else 
            div.card-wrapper
                each waifu in topWaifu
                    div.waifu-card
                        h2.waifu-card-title #{waifu['name']}
                        h3.waifu-card-price $8000/hour
                        img( src = `${baseAssets}/img/emilia-removebg-preview.png` class = "waifu-card-img" alt="Emilia Image" )
                        div.waifu-card-content
                            div.ratings
                                - var ratingIndex = 0;
                                while ratingIndex <= waifu['ratings']
                                    i.fas.fa-star( data-index = `${ratingIndex++}` )
                            div.tags
                                p #{waifu['date_time']}
                                p #{waifu['hair_type']}
                                p #{waifu['hobby']}
                                p #{waifu['hobby_2']}
                            p.waifu-desc #{waifu['description']}
                        a.btn-detail( href= `/waifu/${waifu['waifu_id']}` ) See Detail
    section#choose-type
        div.type-wrapper
            div.long-hair
                h1.title-type Long Hair
            div.short-hair
                h1.title-type Short Hair
    section#testimoni
        h1.testimoni-title What Our Customers Say ?
        div.testimoni-wrapper
            div.card.card-test-1
                img( src="./assets/img/asuna-avatar.jpg" class="user-avatar" alt="avatar-img" )
                h1.card-title Zuans
                p.card-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quam.
            div.card.card-test-2
                img( src="./assets/img/hekkel.jpeg" class="user-avatar" alt="avatar-img" )
                h1.card-title Onanimous
                p.card-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quam.
            div.card.card-test-3
                img( src="" class="user-avatar" alt="avatar-img" )
                h1.card-title Zuans
                p.card-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quam.
block append endScripts
    script( src=`${baseAssets}/js/script.js`)