extends ../layout/body.pug

block append styles
    link(rel="stylesheet", href=`${baseAssets}/css/waifu-all.css`)

block content
    section#waifus-wrapper
        div.waifu-filter
            h1.title-content Filter Waifu
            hr.breakpoint
            div.form-filter-wrapper
                h1.title-form Search Name
                div.form-group
                    label( id="waifu-name") Name
                    input( type="text" name="waifu-name" id="waifu-name")
                div.form-group
                    label( id="waifu-min-age") Min Age
                    input( type="number" name="waifu-min-age" id="waifu-min-age")
                div.form-group
                    label( id="waifu-max-age") Max Age
                    input( type="number" name="waifu-max-age" id="waifu-max-age")
                div.form-group
                    label( id="hair-type") Hair Type
                    select.hair-type
                        option All Type
                        option Short Hair
                        option Long Hair
                        option Twin Tail
                        option Pig Tail
                div.form-group
                    label( id="date-time") Date Time
                    select.hair-type
                        option All Time
                        option Night
                        option Morning
                        option Afternoon
                div.form-group
                    label( for="waifu-min-price") Min Price
                    input( type="range" min="0" max="1000" id="waifu-min-price")
                    p#waifu-min-price-txt.txt-price 
                div.form-group
                    label( for="waifu-max-price") Max Price
                    input( type="range" min="0" max="1000" id="waifu-max-price")
                    p#waifu-max-price-txt.txt-price
                div.form-group
                    button.submit-filter Search
        div.waifu-all
            h1.title-content All Waifu
            div.switch-wrapper
                button.filter-switch Switch
            div.waifu-card-wrapper
                div.waifu-card
                    img.waifu-img(src = `${baseAssets}/img/asuna.png`) 
                    h1.waifu-name Asuna Yuuki
                    h1.waifu-price $8000/hour
                    div.ratings
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    div.tags
                        p.tags-item Ayamn
                        p.tags-item Kecap
                        p.tags-item Asin
                    a.waifu-btn-detail( href = "/") See Detail
                div.waifu-card
                    img.waifu-img(src = `${baseAssets}/img/asuna.png`) 
                    h1.waifu-name Asuna Yuuki
                    h1.waifu-price $8000/hour
                    div.ratings
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    div.tags
                        p.tags-item Ayamn
                        p.tags-item Kecap
                        p.tags-item Asin
                    a.waifu-btn-detail( href = "/") See Detail
                div.waifu-card
                    img.waifu-img(src = `${baseAssets}/img/asuna.png`) 
                    h1.waifu-name Asuna Yuuki
                    h1.waifu-price $8000/hour
                    div.ratings
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    div.tags
                        p.tags-item Ayamn
                        p.tags-item Kecap
                        p.tags-item Asin
                    a.waifu-btn-detail( href = "/") See Detail
                div.waifu-card
                    img.waifu-img(src = `${baseAssets}/img/asuna.png`) 
                    h1.waifu-name Asuna Yuuki
                    h1.waifu-price $8000/hour
                    div.ratings
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    div.tags
                        p.tags-item Ayamn
                        p.tags-item Kecap
                        p.tags-item Asin
                    a.waifu-btn-detail( href = "/") See Detail
                div.waifu-card
                    img.waifu-img(src = `${baseAssets}/img/asuna.png`) 
                    h1.waifu-name Asuna Yuuki
                    h1.waifu-price $8000/hour
                    div.ratings
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    div.tags
                        p.tags-item Ayamn
                        p.tags-item Kecap
                        p.tags-item Asin
                    a.waifu-btn-detail( href = "/") See Detail
                div.waifu-card
                    img.waifu-img(src = `${baseAssets}/img/asuna.png`) 
                    h1.waifu-name Asuna Yuuki
                    h1.waifu-price $8000/hour
                    div.ratings
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    div.tags
                        p.tags-item Ayamn
                        p.tags-item Kecap
                        p.tags-item Asin
                    a.waifu-btn-detail( href = "/") See Detail

block append endScripts
    script( src=`${baseAssets}/js/waifu-all.js`)