extends ../../layout/body.pug

block append styles
    link(rel="stylesheet", href=`${baseAssets}/css/profile/profile.main.css`)

block content
    section#content 
        h1.main-title Main Profile
        div.container-left
            div.main-profile
                h3.greet-user Welcome, #{user.username}
                p.email #{user.email}
                p.age #{user.age}
                p.balance IDR 500k
                ul.favorite-tag-list
                    li.favorite-tags
                        h3 Favorite Tags
                    each tag in user.tags
                        li.item-link 
                            a(href=`${baseURL}/waifu/tag/${tag.type}/${tag.name}`) #{tag.name}
                    li.edit-tags.item-link
                        a(href="/profile/edit-tag")
                            i.far.fa-edit.action-icon
            ul.action-profile
                li
                    a(href="/profile/change-password").btn-action.item-link Change Password
                        i.fas.fa-lock.action-icon
                li 
                    a(href="/profile/edit").btn-action.item-link Edit Profile
                        i.fas.fa-edit.action-icon
                li 
                     a(href="/profile/history").btn-action.item-link History
                        i.fas.fa-history.action-icon
