extends ../layout/body.pug

block append styles
    link(rel="stylesheet", href=`${baseAssets}/css/waifu-all.css`)

block content
    section#waifus-wrapper
        div.waifu-filter
            h1.title-content Filter Waifu
            button#btn-filter-off.btn-switch 
                i.fas.fa-times
            hr.breakpoint
            div.form-filter-wrapper
                h1.title-form Search Name
                form#filter-form(action=`${baseURL}/waifu` method="POST" )
                    div.form-group
                        label( for="waifu-name") Name
                        input( type="text" name="waifu-name" id="waifu-name" autocomplete="off")
                        if errors && errors['waifu-name']
                            div.error-input
                                p.error-text #{errors['waifu-name']}
                    div.form-group
                        label( for="waifu-min-age") Min Age
                        input( type="number" name="waifu-min-age" min="10" max="50" id="waifu-min-age")
                        if errors && errors['waifu-min-age']
                            div.error-input
                                p.error-text #{errors['waifu-min-age']}
                    div.form-group
                        label( for="waifu-max-age") Max Age
                        input( type="number" name="waifu-max-age" min="10" max="50" id="waifu-max-age")
                        if errors && errors['waifu-max-age']
                            div.error-input
                                p.error-text #{errors['waifu-max-age']}
                    div.form-group
                        label( for="hair-type") Hair Type
                        select( name = "hair-type" value="0" ).hair-type#hair-type
                            option( selected ) All Type
                            each hairType in allHairType
                                option( value=`${hairType['hair_type_id']}`) #{hairType['name_type']}
                        if errors && errors['hair-type']
                            div.error-input
                                p.error-text #{errors['hair-type']}
                    div.form-group
                        label( for="date-time") Date Time
                        select( name="date-time")#date-time
                            option( selected value="0" ) All Time
                            each dateTime in allDateTime
                                option( value=`${dateTime['date_time_id']}`) #{dateTime['time']}
                        if  errors && errors['date-time']
                            div.error-input
                                p.error-text #{errors['date-time']}
                    div.form-group
                        label( for="waifu-min-price") Min Price
                        input( type="range" min="0" max="1000" name="waifu-min-price" id="waifu-min-price")
                        p#waifu-min-price-txt.txt-price 
                    div.form-group
                        label( for="waifu-max-price") Max Price
                        input( type="range" min="0" max="1000" name="waifu-max-price" id="waifu-max-price")
                        p#waifu-max-price-txt.txt-price
                    div.form-group
                        input(type="submit" value="Search" ).submit-filter
        div.waifu-all
            div.input-wrapper
                h3.title-content Search
                form#name-form(action=`${baseURL}/waifu` method="POST" )
                    input( type="text" name="waifu-name" id="search-text" autocomplete="off" placeholder="Search waifu name" )
                    button#search-button( role="submit")
                        i.fas.fa-search
                button#btn-filter-on.btn-switch  Filter
            div.filter-select
                div.popular-tags-wrapper
                    each tags in popularTags
                        a( href=`${baseURL}/waifu/${tags['type']}/${tags['id']}`).popular-tags-content
                            h3 #{tags['name']}
                div.sort-by-wrapper
                    select#select-sort-filter
                        option Sort by
                        option(value="ratings-desc") Highest rating
                        option(value="ratings-asc") Lowest rating
                        option(value="price-desc") Highest price
                        option(value="price-asc") Lowest rating
                        option(value="age-desc") Oldest
                        option(value="age-asc") Youngest
            div.waifu-card-wrapper
                each waifu in allWaifu
                    div.waifu-card
                        img.waifu-img(src = `${baseAssets}/img/asuna.png`) 
                        h1.waifu-name #{waifu['name']}
                        h3.waifu-age #{waifu['age']} years old
                        h1.waifu-price $#{waifu['price']}/hour
                        div.ratings
                            - var ratingCount = 0
                            while ratingCount <= waifu['ratings']
                                i(data-index =`${ratingCount++}`).fas.fa-star
                        div.tags
                            p.tags-item
                                a(href=`${baseURL}/waifu/date_time/${waifu['date_time']}`)  #{waifu['date_time']}
                            p.tags-item    
                                a(href=`${baseURL}/waifu/hair_type/${waifu['hair_type']}`) #{waifu['hair_type']}
                            p.tags-item 
                                a(href=`${baseURL}/waifu/hobby/${waifu['hobby']}`) #{waifu['hobby']}
                            p.tags-item 
                                a(href=`${baseURL}/waifu/hobby/${waifu['hobby_2']}`) #{waifu['hobby_2']}
                        a.waifu-btn-detail( href = `${baseURL}/waifu/${waifu['waifu_id']}` ) See Detail

block append endScripts
    script( src=`${baseAssets}/js/waifu-all.js`)